/* .card-with-rectangle {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #333;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.card-with-rectangle:hover {
  background-color: #2c2c2c;
  transform: translateY(-3px);
}


.card-active {
  background-color: rgb(253, 187, 187);
  color: rgb(114, 10, 114);
  font-size: larger;
  font-weight: 1000;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #333;
  word-wrap: break-word;
  white-space: pre-wrap;
} */
