/* Container
div {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
  font-weight: 500;
}


label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #333;

}

input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  width: 100%;
  padding: 12px;
  background-color: #4ad2ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #00aaff;
} */
